<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" >
    <parameter name="dbUrl" value="test"/>
    <parameter name="dbUser" value="test"/>
    <parameter name="dbPass" value="test"/>
    <test name="Test">
        <classes>
            <class name="org.dovnard.exp.test.TestSuite">
                <methods>
                    <include name="test" />
                    <include name="testPagination" />
                </methods>
            </class>
        </classes>
    </test>
</suite>